*{
    margin: 0;
    padding: 0;
}
section{
    background-color: floralwhite   ;
}
a {
    cursor: pointer;
}

/* nav header*/
.header-main{
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}
.header-main-logo{
    width: fit-content;
    height: 100%;
   
    display: flex;
    padding-left: 20px;
}
.header-main-logo img {
    height: 100px;
}
.header-main-nav{
    width: fit-content;
    height: 100%;
    
}
.header-main-nav ul {
    list-style: none;
    margin-left: 30px;
}

.header-main-nav ul li{
    display: inline;
    margin-right: 20px;
}


.header-main-nav ul li a {
    padding: 0 10px;
    font-family: 'Arial', sans-serif; /* Change the font-family to a more common one */
    line-height: 100px;
    font-size: 20px; /* Reduce the font size for better readability */
    font-weight: normal; /* Use normal font weight */
    color: black;
    text-decoration: none; /* Remove the default underlining */
    transition: text-decoration 0.3s
    
}
.header-main-nav ul li a:hover {
    text-decoration: underline;
    color: red;
}


.header-main-button {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Align the button to the right */
    align-items: center; /* Vertically center the button */
    padding: 0 50px;
}

.header-main-button a {
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white; /* Set text color for the button */
    padding: 10px 40px; /* Adjust padding for the button */
    border: 2px solid white; /* Add a border for the button */
    border-radius: 200px; /* Round the button corners */
    background-color: goldenrod ;
    transition: background-color 0.3s, color 0.3s; /* Add hover effect */
}

.header-main-button a:hover {
    background-color: orange; /* Change background color on hover */
    color: black; /* Change text color on hover */
}


.background{
    background-color: rgba(10, 18, 50, 0.3);
    width: 100%;
    height: 690px; /* Set the desired height */
    padding: 1px 0;
    position: relative;
    overflow: hidden;
    }
    
.Title{
color: #fff;    
position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
width:100%;
height: auto;

}
.Title h1{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:80px;
letter-spacing:-1px;
}
.Title p {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:20px;
}
.background-clip{
    position: absolute;
    width: 100%;
    height: 90%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1; /* Make the video fit while maintaining aspect ratio */
}
@media only screen and (max-width: 768px) {
        .Title {
            width: 80%;
        }
    
        .Title h1 {
            font-size: 40px;
        }
    
        .Title p {
            font-size: 15px;
        }
        .backgroundP{
            height: 400px;
        }
    }
/* Our Top Picks */
.Our_Top_Picks{
    width: 100%;
    height: auto;
    margin: 40px 0;
   --background-color: aqua;
}
.img-container {
    max-width: 600px;
    width: 100%;
}

.pic{
    height: auto;
    width: 100%;
    max-width: 100%;
    border-radius: 10%;
    box-shadow: 10px 5px 5px rgb(173, 170, 170);
}

.flex {
    width: 100%;
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.text {
    width: 100%;
    max-width: 500px;
    height: 300px;
    background-color: #ffd4be;
    border-radius: 10%;
}

.Our_Top_Picks h1{               
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5%;
    --background-color: darkgoldenrod;
}
.text h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 5%;
}

.text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-left: 5%;
    margin-right: 2%;      
}

@media only screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .text {
        height: 200px;
        max-width: 100%;
        margin-bottom: 5%;
    }

    .pic {
        margin-bottom: 20px;
    }
    .Our_Top_Picks h1{
        font-size: 30px;
    }
    .text h2 {
        font-size: 30px;
    }
    .text p{
        font-size: 16px;
       
    }
    .text:nth-child(odd) {
        order: 2; /* Change order for odd-numbered .text elements */
    }

}


  /* Resetting some default styles */
 
  
  /* Styling the menu section */
  .menu{
    --background-color:aqua;
    padding: 20px;
  }
  
  .menu-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}

.menu-btn {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 10px;
    border-bottom: 5px solid transparent; /* Add a border for better visibility */
}

.active-btn {
    border-bottom-color: #db9534; /* Highlight the active item with a different border color */
}
  
.menu-head h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --background-color: darkgoldenrod;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
}
  
.menu_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  --background-color: deeppink;
}

.food-item {
  width: 30%; /* Adjust as needed to fit 3 items per row */
  margin-bottom: 8%;

}


.food-img {
  max-width: 400px;
  width: 100%;
  border-radius: 5%;
  --background-color: mediumpurple;

}
.img {
  width: 90%;
  height: 350px; /* Set your desired fixed height */
  object-fit: cover; /* Maintain aspect ratio; cover the entire container */
  border-radius: 10%;
  margin: 5%;

}
.chef-recommendation, .breakfast,
.lunch, .dinner, .sides{
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 5%;
  background-color: #ffd4be;
}

.food-content{
  margin: 1% 5%;
}
.food-name{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 3% 0;
}
.food-price{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin: 2% 0;
}
.description{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin: 2% 0;
}
.Order {
  margin: 3% 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-decoration: none;
  background-color: #db9534; /* Set the background color */
  color: white; /* Set the text color */
  padding: 15px 25px; /* Add padding for better appearance */
  border-radius: 10%; /* Add rounded corners */
  display: inline-block; /* Ensure the background color spans the entire width */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.Order:hover {
  background-color: #ae7528; /* Change the background color on hover */
}
@media only screen and  (max-width: 768px) {
  .food-item{
    width: 100%;;
  }
  .img{
    height: 250px;
  }
  .menu-head h2{
    font-size: 40px;
  }
  .food-name{
    font-size:30px;
  }
  .food-price{
    font-size:20px;
  }
  .description{
    font-size: 15px;
  }
  .Order{
    font-size: 15px;
  }
}







/* Footer */
.footer {
  --background-color: aqua;
  margin: 0;
}

.footer_flex {
  background-color: rgb(21, 8, 3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  align-items: flex-start;
  
}

.footer-col{
  margin-bottom: 3%;
}

.footer-col h4 {
  font-size: 25px;
  margin-bottom: 10px;
  color:#f8f8f8;
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
  text-decoration-color: rgb(255, 123, 0);
  
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  color:#f8f8f8
}

.footer-col ul li {
  margin-bottom: 5px;
  color:#f8f8f8;
}

.footer-col a {
  text-decoration: none;
  color:#f8f8f8;
  font-size: 18px;
  font-weight: lighter;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-col div a {
  margin-right: 15px;
  color:#fff;
}

.footer-col i {
  font-size: 32px;
}

@media only screen and (max-width: 768px) {
  .footer-col{
      width: 40%;
      margin-bottom: 30px;
      
  }
  
}
