*{
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

/* nav header*/
.header-main{
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}
.header-main-logo{
    width: fit-content;
    height: 100%;
   
    display: flex;
    padding-left: 20px;
}
.header-main-logo img {
    height: 100px;
}
.header-main-nav{
    width: fit-content;
    height: 100%;
    
}
.header-main-nav ul {
    list-style: none;
    margin-left: 30px;
}

.header-main-nav ul li{
    display: inline;
    margin-right: 20px;
}


.header-main-nav ul li a {
    padding: 0 10px;
    font-family: 'Arial', sans-serif; /* Change the font-family to a more common one */
    line-height: 100px;
    font-size: 20px; /* Reduce the font size for better readability */
    font-weight: normal; /* Use normal font weight */
    color: black;
    text-decoration: none; /* Remove the default underlining */
    transition: text-decoration 0.3s
    
}
.header-main-nav ul li a:hover {
    text-decoration: underline;
    color: red;
}


.header-main-button {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Align the button to the right */
    align-items: center; /* Vertically center the button */
    padding: 0 50px;
}

.header-main-button a {
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white; /* Set text color for the button */
    padding: 10px 40px; /* Adjust padding for the button */
    border: 2px solid white; /* Add a border for the button */
    border-radius: 200px; /* Round the button corners */
    background-color: goldenrod ;
    transition: background-color 0.3s, color 0.3s; /* Add hover effect */
}

.header-main-button a:hover {
    background-color: orange; /* Change background color on hover */
    color: black; /* Change text color on hover */
}




/* Background*/
.background{
        background-image: linear-gradient(rgba(10, 18, 50, 0.7),rgba(4,9,30,0.7 )),url("Images/background.jpg");
        background-size:cover;
        background-position: center;
        width: 100%;
        height: 690px; /* Set the desired height */
        background-position: center top;
        padding: 1px 0;
        position: relative;
        }
        
.Title{
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:100%;
    height: auto;

}
.Title h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:80px;
    letter-spacing:-1px;
}
.Title p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
}

@media only screen and (max-width: 768px) {
    .background {
        height: 500px; /* Adjust the height for smaller screens */
    }


    .Title h1 {
        font-size: 35px; /* Adjust the font size for smaller screens */
    }

    .Title p {
        font-size: 16px; /* Adjust the font size for smaller screens */
    }
}

/* Media query for even smaller screens */
@media only screen and (max-width: 768px) {
    .background {
        height: 400px; /* Further adjust the height for even smaller screens */
    }


    .Title h1 {
        font-size: 20px; /* Further adjust the font size for even smaller screens */
    }

    .Title p {
        font-size: 14px; /* Further adjust the font size for even smaller screens */
    }
}
/* About Us */ 
.about-us {
    width: 100%;
    height: auto;
    margin: 40px 0;
    --background-color: darkolivegreen;
}

.image-container {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.img {
    height: auto;
    width: 100%;
    max-width: 100%;
    border-radius: 10%;
}

.flex {
    width: 100%;
    max-width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.text h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.link {
    margin-top: 20px;
}

.read_more {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: goldenrod;
    padding: 10px 20px;
    border-radius: 10px;
}

.read_more:hover {
    background-color: orange;
    color: black;
}

@media only screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .text {
        max-width: 100%;
    }

    .img {
        margin-bottom: 20px;
    }
    .text h1 {
        font-size: 30px;
    }
    .text p{
        font-size: 16px;
    }
}




/* Services */
.Our-Services{
    width: 100%;
    max-width: 100%; 
    height: auto;
    padding: 30px 0;
    --background-color: crimson;
    }
.Our-Services h1{               
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    --background-color: darkgoldenrod;
}

.Our-Service-Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90%;
    margin: 40px auto;
    --background-color: darkgreen;

}


.overlay-box{
    position: relative;
    width: 470px;
    background-color: aqua;

}

.food_pic,
.room_pic {
    display:block;
    height: 405px;
    width: 100%;
    max-width:100%;
    height: auto;
    border-radius: 10%;
    background-color: blue;
}

.overlay{
    position: absolute;
    top: 0;
    left:  0;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.overlay p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px ;
    margin-top: 5px;
}

.overlay:hover{
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .Our-Service-Container {
        flex-direction: column;
    }

    .overlay-box{
        max-width: 100%;
        margin-bottom: 10%;
    }
    .Our-Services h1{
        font-size: 40px;
    }
}
  


/* Special offers */
.Special_offers h1{               
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    --background-color: darkgoldenrod;
}
.Special_offers{
    width: 100%; 
    height: 570px;
    padding: 30px 0;
    --background-color: aquamarine;
}


.Special_offer_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 98%;
    margin: 40px auto;
    --background-color:coral;
}


.container{
    position: relative;
    width: 400px;
    height: 350px;
    --background-color:fuchsia;
}
.box{
    width:200px;
    height: 200px;
    position: absolute;
    bottom: -120px;
    left: 55%;
    border-radius: 30px;
    background-color:rgb(244, 54, 54);
    
}
.pic{
    width: 100%;
    height: 350px;
    border-radius: 20%;
}

.container h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    --background-color: darkgoldenrod;
    margin-bottom: 20px;
    
}

.box p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 37px;
    position: absolute;
    top: 29px;
    left: 18px; 
    color: white
}
/* Testmonials  */
.Testimonials{
    --background-color: chartreuse;
    width: 100%; 
    height: auto;
    padding: 30px 0;

}
.Testimonials h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    --background-color: darkgoldenrod;
}
.Testimonial_flex{
    display: flex;
    fles-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 98%;
    margin: 40px auto;
    --background-color:coral;
}
.testimonial_row{
        position: relative;
        width: 600px;
        display: flex;
        border-radius: 20px;
        background-color: rgb(220, 206, 206)
}
.reviewer{
    height: 65px;
    width: 70px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 50%;
}
.feedback {
    padding: 20px 30px;
}

.feedback p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.feedback h3 {
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 5px;}

.feedback .fa-solid.fa-star {
            margin-top: 10px;
            color: rgb(255, 98, 0);
        }
@media only screen and (max-width: 768px) {
    .Testimonial_flex {
        flex-direction: column;
    }

    .testimonial_row{
        max-width: 100%;
        margin-bottom: 10%;
    }
    .Testimonials h1{
        font-size: 40px;
    }
    .feedback p{
        font-size: 17px;
    }
    .feedback h3{
        font-size: 25px;
    }
}
/* Footer */
.footer {
    --background-color: aqua;
    margin: 0;
}

.footer_flex {
    background-color: rgb(21, 8, 3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    align-items: flex-start;
}



.footer-col h4 {
    font-size: 25px;
    margin-bottom: 10px;
    color:#f8f8f8;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(255, 123, 0);
    
}

.footer-col ul {
    list-style: none;
    padding: 0;
    color:#f8f8f8
}

.footer-col ul li {
    margin-bottom: 5px;
    color:#f8f8f8;
}

.footer-col a {
    text-decoration: none;
    color:#f8f8f8;
    font-size: 18px;
    font-weight: lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-col div a {
    margin-right: 15px;
    color:#fff;
}

.footer-col i {
    font-size: 32px;
}

@media only screen and (max-width: 768px) {
    .footer-col{
        width: 40%;
        margin-bottom: 30px;
        
    }
    
}

